<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/1efa79e1c3.js"></script>
    <link rel="stylesheet" href="../css/site.css">
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar dkbluecolor navbar-fixed-top">
          <div class="container">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="..\images\Logo.svg" alt="Victoria Logo" class="logo" /></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <ul class="nav navbar-nav">
                <li>
                  <a class="nav-link" href="index.html">Work</a>
                </li>
                <li>
                  <a class="nav-link" href="portfolio.html">Student Work</a>
                </li>
                <li class="active">
                  <a class="nav-link" href="about.html">About<span class="sr-only">(current)</span></a>
                </li>
                <li>
                  <a class="nav-link" href="resume.html">Resume</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </nav>
      </header>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
          <div class="profileimgcontainer">
            <img class="profileimg" src="../images/profileimage.jpg" alt="profile picture" />
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <p class="name">Victoria Erickson</p>
            <br />
            <p>
              She graduated from Savannah College of Art and Design in 2014 with a B.F.A. in Graphic Design and two minors in Advertising and Photography. Victoria is currently pursuing a career as a UX UI Designer in Manhattan, New York and she currently resides in Queens, New York. Along with her work for the web, she does freelance graphic design work to stay up to date on the latest adobe techniques. She has taken night classes at New York Code and Design Academy to earn certificates in front end development and web development to help her at work. She wants to become a well-rounded specialist within her field by understanding both front and back end development.
            </p>
            <p>
              In her free time, she enjoys watching tv and anime, reading manga, playing video games, hanging out with friends, and going to the gym.
            </p>
            <br />
            <p>victoriamerickson@gmail.com</p>
          </div>
          <!-- <p>
            <a href="#">Resume</a>
          </p> -->
      </div>
      <footer class="dkbluecolor">
        <div class="container">
           <div class="pull-left">
              © Victoria Marie Erickson 2017
           </div>
           <div class="pull-right">
             <a href="https://www.linkedin.com/in/victoria-erickson-10125a50/">
               <i class="fa fa-linkedin" aria-hidden="true"></i>
             </a>
           </div>
         </div>
      </footer>
    </div>
    <!-- jquery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <!-- other js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- my js -->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
