<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Work</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/1efa79e1c3.js"></script>
    <link rel="stylesheet" href="../css/site.css">
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar dkbluecolor navbar-fixed-top">
          <div class="container">
            <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img src="..\images\Logo.svg" alt="Victoria Logo" class="logo" /></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a class="nav-link" href="work.html">Work<span class="sr-only">(current)</span></a>
                </li>
                <li>
                  <a class="nav-link" href="studentwork.html">Student Work</a>
                </li>
                <li>
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li>
                  <a class="nav-link" href="resume.html">Resume</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </nav>
      </header>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <div style="text-align:center;">
          <h3>Site currently being updated.</h4>
          <p>Fixing projects for my website and creating it from scratch.</p>
          <a href="http://victoriamarieerickson.com/" class="redcolor">Original Website </p>
        </div>
      </div>
      <footer class="dkbluecolor">
        <div class="container">
           <div class="pull-left">
              © Victoria Marie Erickson 2017
           </div>
           <div class="pull-right">
             <a href="https://www.linkedin.com/in/victoria-erickson-10125a50/">
               <i class="fa fa-linkedin" aria-hidden="true"></i>
             </a>
           </div>
         </div>
      </footer>
    </div>
    <!-- jquery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <!-- other js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- my js -->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
